* {
	box-sizing: border-box;
}

html,
body,
#root {
	margin: 0;
	padding: 0;
	min-height: 100dvh;
}

body {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
}

#root {
	display: flex;
	flex-direction: column;
}

main {
	flex: 1 1 0px;
	overflow-y: auto;
	background: linear-gradient(135deg, #ffe7ba 0%, #fffbf0 40%, #c8e7ff 100%);

	&:has(.stats) {
		background: linear-gradient(135deg, #e0f2fe 0%, #faf5ff 50%, #fee2e2 100%);
	}
}
